#hamburger-ul li{color: rgb(48, 11, 96);}
#hamburger-ul li:hover{color: rgb(125, 59, 226, 1);}
.bgg{background-color: #A271F2 !important;}
.bggg{background-color: #A271F2 !important;}
#footer-logo a svg:hover{color: #7D3BE2;}
#footer-logo a svg:active{color: #6829C7;}
.example{appearance: none;}